/* Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

#hero {
    background-image: url(../img/hero-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    width: 100vw;
    height: 50vh;
    align-content: center;
    text-align: center;
    color: pink;
    text-shadow: 1px 1px 2px black;
}
